.class1:hover {
    background-color: #0ae942;
    opacity: 0.4;
    cursor: pointer;
}

.title {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
   
    transition: all 0.1s ease-in-out;
}

.title:hover {
    
    color: rgba(100, 255, 216, 0.8);
  
}